* {
  box-sizing: border-box;
}
body {
  height: 100%;
}

.ter {
  background-color: rgb(106, 109, 109);
  height: 70px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: white;
  padding-top: 15px;
}
form {
  margin-left: 400px;
}
.form-group {
  margin: 30px;
  width: 50px;
}
.sub {
  background-color: rgb(106, 109, 109);
  width: 55%;
  height: 40px;
  color: white;
  font-weight: bold;
  outline: none;
}
.form-control {
  height: 40px;
  width: 450px;
}
.tabl {
  margin: 0 auto;
  width: 40%;
  margin-top: 20px;
  cursor: pointer;
  border: 1px solid lightslategray;
  padding: 10px;
}

.delete {
  border: 1px solid red;
  background-color: red;
  color: white;
  cursor: pointer;
}